@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

.game_board {
  height: 400px;
  width: 400px;
}
.red_background {
  background-color: red;
}
.blue_background {
  background-color: blue;
}