@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

.game_board {
  height: 300px;
  width: 300px;

  td {
  	height: 100px;
  	width: 100px;
  	text-align: center;
  	font-size: 6em;
  }
}
.red_background {
  background-color: red;
}
.blue_background {
  background-color: blue;
}